In [7]:
import threading
import logging
import pandas as pd

pd.pandas.set_option('display.max_columns',None)

In [2]:
logging.basicConfig(level=logging.INFO,
                    format='%(asctime)s - %(name)s - %(levelname)s - %(message)s',
                    datefmt='%d-%m-%y %H:%M:%S',
                    filename='app.log',
                    filemode='w'
)

In [5]:
df1 = pd.read_csv('datasets/House_Price_dataset.csv')
df2 = pd.read_csv('datasets/Titanic.csv')

In [10]:
df1.head(6)

,property_id,location_id,page_url,property_type,price,location,city,province_name,latitude,longitude,baths,area,purpose,bedrooms,date_added,agency,agent,Area Type,Area Size,Area Category
0,237062,3325,https://www.zameen.com/Property/g_10_g_10_2_gr...,Flat,10000000,G-10,Islamabad,Islamabad Capital,33.679890,73.012640,2,4 Marla,For Sale,2,02-04-2019,NaN,NaN,Marla,4.0,0-5 Marla
1,346905,3236,https://www.zameen.com/Property/e_11_2_service...,Flat,6900000,E-11,Islamabad,Islamabad Capital,33.700993,72.971492,3,5.6 Marla,For Sale,3,05-04-2019,NaN,NaN,Marla,5.6,5-10 Marla
2,386513,764,https://www.zameen.com/Property/islamabad_g_15...,House,16500000,G-15,Islamabad,Islamabad Capital,33.631486,72.926559,6,8 Marla,For Sale,5,07-17-2019,NaN,NaN,Marla,8.0,5-10 Marla
3,656161,340,https://www.zameen.com/Property/islamabad_bani...,House,43500000,Bani Gala,Islamabad,Islamabad Capital,33.707573,73.151199,4,2 Kanal,For Sale,4,04-05-2019,NaN,NaN,Kanal,2.0,1-5 Kanal
4,841645,3226,https://www.zameen.com/Property/dha_valley_dha...,House,7000000,DHA Defence,Islamabad,Islamabad Capital,33.492591,73.301339,3,8 Marla,For Sale,3,07-10-2019,Easy Property,Muhammad Junaid Ceo Muhammad Shahid Director,Marla,8.0,5-10 Marla
5,850762,3390,https://www.zameen.com/Property/ghauri_town_gh...,House,34500000,Ghauri Town,Islamabad,Islamabad Capital,33.623947,73.126588,8,1.6 Kanal,For Sale,8,04-05-2019,NaN,NaN,Kanal,1.6,1-5 Kanal

In [8]:
df1.dtypes

property_id        int64
location_id        int64
page_url          object
property_type     object
price              int64
location          object
city              object
province_name     object
latitude         float64
longitude        float64
baths              int64
area              object
purpose           object
bedrooms           int64
date_added        object
agency            object
agent             object
Area Type         object
Area Size        float64
Area Category     object
dtype: object

In [42]:
def column_mean(df):
    logging.info('The process has started!')
    col = []
    for column in df.columns:
        if df[column].dtypes == 'int' or df[column].dtype == 'float':
            col.append(column)
            
    mean = df[col].mean()
    logging.info('The process has ended!')
    print('Average :\n',mean)
    
    return mean

In [43]:
df1_mean = column_mean
df2_mean = column_mean

In [44]:
th1 = threading.Thread(target=column_mean, args = (df1,))
th2 = threading.Thread(target=column_mean, args = (df2,))

th2.start()
th1.start()

th2.join()
th1.join()

Average :
 PassengerId    446.000000
Survived         0.383838
Pclass           2.308642
Age             29.699118
SibSp            0.523008
Parch            0.381594
Fare            32.204208
dtype: float64
Average :
 property_id    1.559626e+07
location_id    4.375936e+03
price          1.776576e+07
latitude       2.985952e+01
longitude      7.123980e+01
baths          2.874227e+00
bedrooms       3.179422e+00
Area Size      5.892188e+00
dtype: float64